In [187]:
import pandas as pd

In [188]:
deaths_states = pd.read_csv("../epidemic/deaths_state_21.csv")
death_states_monthly = deaths_states.copy()

In [189]:
deaths_states.head(1000)

,date,state,deaths_new,deaths_new_dod,deaths_bid,deaths_bid_dod,cumul_full,population
0,1/1/2021,Johor,0,1,0,0,0,3781000
1,1/1/2021,Kedah,0,0,0,0,0,2185100
2,1/1/2021,Kelantan,0,0,0,0,0,1906700
3,1/1/2021,Melaka,0,0,0,0,0,932700
4,1/1/2021,Negeri Sembilan,1,2,0,0,0,1128800
...,...,...,...,...,...,...,...,...
995,4/3/2021,Melaka,0,1,0,0,0,932700
996,4/3/2021,Negeri Sembilan,0,0,0,0,1,1128800
997,4/3/2021,Pahang,1,0,0,0,2,1678700
998,4/3/2021,Perak,0,0,0,0,1,2510300
999,4/3/2021,Perlis,0,0,0,0,0,254900

In [190]:
#Converts the data to deaths_new monthly average to avoid 0 values, same for cumul_full
deaths_states_monthly = deaths_states.groupby(['date', 'state'])[['deaths_new', 'cumul_full','population']].mean().reset_index()
deaths_states_monthly['date'] = pd.to_datetime(deaths_states_monthly['date'], format = "%d/%m/%Y")
deaths_states_monthly['date'] = deaths_states_monthly['date'].dt.to_period('M')
deaths_states_monthly.head(30)

TypeError: Passing PeriodDtype data is invalid. Use `data.to_timestamp()` instead

In [170]:
#Finding out percentage cummulation for each state
deaths_states_monthly["cumul_full"] = pd.to_numeric(deaths_states_monthly['cumul_full'])
deaths_states_monthly["population"] = pd.to_numeric(deaths_states_monthly['population'])
deaths_states_monthly["percentage_vax"] = (deaths_states_monthly['cumul_full']/deaths_states_monthly['population']) * 100
deaths_states_monthly

,date,state,deaths_new,cumul_full,population,percentage_vax
0,2021-01,Johor,0,0,3781000,0.000000
1,2021-01,Kedah,0,0,2185100,0.000000
2,2021-01,Kelantan,0,0,1906700,0.000000
3,2021-01,Melaka,0,0,932700,0.000000
4,2021-01,Negeri Sembilan,1,0,1128800,0.000000
...,...,...,...,...,...,...
4235,2021-09,Selangor,73,3724155,6538000,56.961686
4236,2021-09,Terengganu,5,534041,1259300,42.407766
4237,2021-09,W.P. Kuala Lumpur,25,2359938,1773700,133.051700
4238,2021-09,W.P. Labuan,0,66615,99600,66.882530
4239,2021-09,W.P. Putrajaya,0,120131,110000,109.210000

In [166]:
deaths_states_monthly.to_csv("deaths_vax_states_monthly.csv")